<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="happyBean" class="com.example.helloworld.HappyFortune">
    </bean>

    <!--Constructor injection -->
    <bean id="myCoach" class="com.example.helloworld.CricketCoach">
          <constructor-arg ref="happyBean"> </constructor-arg>
    </bean>

    <!-- setter injection-->
    <bean id="myBasketBallCoach" class="com.example.helloworld.BasketBallCoach">
        <property name="fortune" ref="happyBean"></property>
    </bean>

</beans>





